@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;

}


.bg-info{
    background-color: transparent !important; 
}
.jumbotron-fluid{

padding-top: 8px !important;

}

h1{
    font-family: 'Permanent Marker', cursive !important;
}

a.text-light:focus, a.text-light:hover{
    border-bottom: 1px solid white !important;
}
.flu{
    height: 80px
}
body{

    position: relative;
}
.navbar-expand-lg .navbar-collapse{
    height:60px;
}
.btn btn-default{
    background-color: darkblue !important; 

}

@media only screen and (max-width: 1080px)
{
.flu{
    height: 2px;
}}
