<!DOCTYPE html>


<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Budget Accomma: Page not Found</title>
    <meta name="description" content="Milton Hotels">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/replaceugly.css">
</head>

<!--Begin content-->
<div style="background-color:white;" align = "center">

<!--Heading Title-->
<h1 style='margin:auto;
           padding:20px'>Error 404</h1>
<!--Teapot Image-->

<img style="
            border-radius: 6px; 
            margin:auto;
            margin-bottom: 48px;
            width:500px
            ;height:auto;"
            src="../static/img/tea.png">       

<!--Message to User-->
<h6 style='margin:auto;
           padding:20px' align = "center" >

    Like an attempt to brew coffee with a teapot,
    we can't quite seem to be able to access what you're looking for.<p><p>
    Please press the back button, or click the button bellow to return to the previous page. <p>
    Or, if you like, <a href="./homepage.html"> click here to be taken back to the homepage</a>.

    </p>
    </p>
    </p>

</h6>

<!--Back button-->
<button onclick="goBack()">Return to Previous Page</button>
    <script>
    function goBack() 
        {
        window.history.back();
        }
    </script>

</div>
</html>
