<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Budget Accomma: Cheap Accomadation</title>
    <meta name="description" content="Milton Hotels">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/replaceugly.css">

</head>

<body>

    <!-- putting header inside container will prevent full width navbar -->



     
        
        <!-- Hero / Banner Section -->
        <!-- Scaling text: https://www.sitepoint.com/build-responsive-type-scale-bootstrap/ -->

        <div class="jumbotron jumbotron-fluid card card-image" style="background-image: url(../static/img/jumbo.jpg); height:1080px; background-position: top">
            <div class="text-white text-center py-5 px-4">
                <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-info" style="margin-right: auto;">


                        </a>
                        <!-- create a button for collapsing the menu -->
                        <button style="display :none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
            
                            <!-- individual menu item-->

                            
                           
                               </h1></div>

            
                            <!-- right aligned menu items thanks to ml-auto -->
                            <ul class="nav navbar-nav ml-auto">
                              <li><form class="form-inline my-5 my-lg-2 ml-10">
                                  <div style= "width:100%; margin-left:-5%;"><input style = "width:400px; height:60px; margin-top:12px;" class="form-control mr-sm-2" type="search" placeholder="Max Price" aria-label="Search">
                                         <input style = "width:400px; height:60px; margin-top:12px;" class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
                                         <input style = "width:400px; height:60px; margin-top:12px;" class="form-control mr-sm-2" type="search" placeholder="Radius" aria-label="Search">
                                </div> <div style= "width:90%;"><button  style = "height:40px;width:300px; margin: auto;"class="btn black-gradient btn-rounded btn-sm my-0 btn-secondary ml-1"
                                             type="submit">Find</button> 
                                         </div>
                                     </form></li>
                                    <li class="nav-item active">
                                            <a class="nav-item nav-link text-light active" href="#"><i class="fas fa-globe-asia" style="font-size: 150%"></i> About Us </a>
    
                                    </li>
                                    <li class="nav-item active">
                                     </li>
                                   
                                    <li class="nav-item">
                                            <a class="nav-item nav-link text-light active" href="./lanlord.html"><i class="fas fa-igloo" style="font-size: 150%"></i> Login</a>
                                            <a class="nav-item nav-link text-light active" href="#">I'm a Landlord</a>

                                    </li>
                                </ul>
            
                    </nav>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <div style=" color: #000; text-align: left; margin: 32px; background-color: rgba(255,255,255,0.68); padding: 48px; border-radius: 4px;   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                    ;">

                    <div class="container mt-3">
                        <h3>I'm a landlord</h3>
                        
                        <form>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Title</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Give your item a fancy name">
                          </div>  
                          <form>
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Price</span>
                                </div>
                                <input type="text" class="form-control" placeholder="how much per week">
                              </div>  
                          
                              <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                              <span class="input-group-text">Post Code</span>
                            </div>
                            <input type="number" class="form-control" placeholder="Postcode">
                          </div>  
                            <div class="input-group-prepend">
                              <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Address">  
                      
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">TV included</label>
                      </div>
                      
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Shower Included</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">Power Bill Included</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Water Bill Included</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">Unlimited Wifi Included</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">Pet Friendily?</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">Washing Machine Included</label>
                      </div>
                         
                      <form>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Image</label>
                          </div>
                        </form>
                        
                        <script>
                        // Add the following code if you want the name of the file appear on select
                        $(".custom-file-input").on("change", function() {
                          var fileName = $(this).val().split("\\").pop();
                          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        });
                        </script> 
                      
                      
                      
                      
                      
                      
                        <div class="container mt-3">
                        
                          <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                Area Code
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">+61</a>
                                <a class="dropdown-item" href="#">+86</a>
                                <a class="dropdown-item" href="#">+01</a>
                              </div>
                            </div>
                            <input type="text" class="form-control" placeholder="mobile">
                          </div>
                        </form>
                          <form>
                          <label for="demo">Discription</label>
                          <div class="input-group mb-3">
                          
                            <input type="text" class="form-control" placeholder="Introduce yourself and the room" id="demo" name="Introduce about yourself and the room">
                            <div class="input-group-append">
                            </div>
                          </div>
                          <button href="./content.html" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div></div></div></div></div>
                </div>
            </div>
        </div>

</body>

 


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</html>