<!--Header and Template import-->
{% extends "baseTemplate.html" %}
{% import "bootstrap/wtf.html" as wtf %}



<!--Begin page content-->
{% block content %}
  <!--New item form-->

    <a href="/landlordlist" style="border-radius: 3px!important; ;margin-right: 8px"> Go Back </a>
  <body>
      <div style="padding:40px">
          <div style="padding:32px; text-align: left; background-color:rgba(255,255,255,0.92); color:black">                        
<h3><b>People who are interested in your item</b></h3>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>

      {%for bid in biditem%}

      

 <h5> <b>Bid</b></h5>
<p>This was being did on:  {{bid.date}} 
  </p>
<p> User Name:{{bid.user_name}}</p> 
<p> mobile:{{bid.mobile}}</p> 
<p> </p>
<p> </p>
<p> </p>


  {%endfor%}
</div>

</div>
  <div style="padding:32px; text-align: left; background-color:rgba(255,255,255,0.99); color:black">                        

    <div style="padding:40px">
      <div style="padding:32px; text-align: left; background-color:rgba(255,255,255,0.99); color:black">                        
        {{wtf.quick_form(aform, action=url_for('main.update_item',id=info.id))}} 
        <a href="/landlordlist" style="border-radius: 3px!important; ;margin-right: 8px"> Go Back </a>
        <a href="/remove/{{info.id}}" style="border-radius: 3px!important;"> Delete this item </a>
      </div>
  </div>

  </body>
{% endblock %}


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>






