{% import "bootstrap/wtf.html" as wtf %}
{% extends "baseTemplate.html" %}

{% block content %}

        <h4 style="margin: 3%;">Our Latest Picks </h4> 

        <div class="row" style="margin: 8px;">
            {%for item in room%}
            <div class="row" style="padding: 15px;">
                  <div class="d-flex justify-content"">
                    <div class="card" style="width: 25rem;margin-left: -12px; color: #000">
                          <img src="..{{item.image}}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h4 class="card-title">{{item.title}}</h4>
                            <h5 class="card-title">${{item.price}}</h5>
                            <p class="card-text"><i class="fas fa-user"></i> 4 people <br /> {{item.address}}
                              <br />
                              <i class="fas fa-shower"></i> <i class="fas fa-fire"></i> <i class="fas fa-wifi"></i> </p>
                            <a href="/sharehouse/{{item.id}}" class="btn btn-primary">Edit</a>
                          </div>
                    </div>
                  </div>
             </div>
             {%endfor%}
    </header>




   <!-- Footer -->
   <footer class="footer">
    <div class="container text-center">
        <p>Copyright &copy; Milton Hotels</p>
    </div>
</footer>
<!-- Footer -->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
{% endblock %}
</html>
