{% extends "base.html" %}

{% block content %}
<p>this works</p>
        
<div class="container">
    <h2>Contact Form</h2>
    <!--update the action and the method with relevant information-->
    <form method="post" action={{url_for('main.create')}}>
      <!-- keeps the label and text in a group vertically stacked--> 
      

      <div class="form-group">
        {{aform.name.label}}
        {{aform.name (class="form-control")}}
      </div> 
      <div class="form-group">
        {{aform.description.label}}
        {{aform.description (class="form-control")}}
      </div>
      <div class="form-group">
        {{aform.image.label}}
        {{aform.image (class="form-control")}}
      </div>
      <div class="form-group">
        {{aform.currency.label}}
        {{aform.currency (class="form-control")}}
      </div>
      {{afrom.csrf_token}}
      <button type="submit" class="btn btn-primary">Submit</button>
   
    </form>
  </div>

</main>

</div>



{% endblock %}

