{% import "bootstrap/wtf.html" as wtf %}
{% extends "baseTemplate.html" %}

{% block content %}

                    <div class="row">
                            <div style="background-color:transparent;">                    
                                    <img style="width: 800px; margin-left:5%;"src="..{{info.image}}" class="rounded border border-secondary" alt="Cinque Terre" style="margin: 1%; margin-right:80%;"> 
                                </div>
                          
                            <div style="background-color:rgba(255,255,255,0.7); margin-left: 3%; margin-top: 10px; color:black; width: 800px">

                                

                                <h2 style="text-align: center">{{info.title}}</h2>
                                <div style="text-align: left; margin: 5%">
                                <h4><i class="fas fa-user"></i> 4 people <br /> {{info.address}}

                                    <br />
                                    <i class="fas fa-shower"></i> <i class="fas fa-fire"></i> <i class="fas fa-wifi"></i> </p></h4>
                                
                                    <div class="row">
                                            <div class="col-sm-7 col-md-8 col-lg-9">
                                                <p class="post-body" style="max-height: none;">{{info.description}}
                                                    </p>
                                                <hr>
                                                <p></p>
                                                <p></p>
                                                <p></p>
                                                <p></p>
                                            </div>
                                            <div class="col-sm-5 col-md-4 col-lg-3">
                                                <div class="ad-criteria clearfix">
                                                            <!--Features are changed in the view js files to make the structure slightly different-->
                                                            <h6>Mobile Number</h6>
                                                            {{info.mobile}}

                                                           
                                                </div>
                                            </div>
                                        </div>
              
                                   <a href="#" class="btn btn-primary">Bid</a>
                                   
                                 </div>



                            </div>
                
                          </div>


                
    
{% endblock %}




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>